<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shenjing.dengyuejinfu">
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--定位权限-->
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <!--存储和读取权限-->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取网络状态权限-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读取通讯录权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--SD卡读取权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--打开相机-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--8.0以上版本安装-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name="com.shenjing.dengyuejinfu.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_config"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.MainActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.LoginActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.TransactionDetailsActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.SettingActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.MyCustomerActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.ShareActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.CertificationActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.BankCardCertificationActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.PaymentVerificationActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.CreditCardCertificationActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.AddCreditCardActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.ChangePassWordActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.CashWithdrawalActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.DiscountRecordActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.CardEvaluationActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.CardEvaluationRecordActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.CreditInquiryActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.CreditInquiryRecordActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.LoanPageActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.AnnouncementActivity" />
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.RegisterActivity"/>
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.LostPassActivity"/>
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.WebViewActivity"/>
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.QRShareActivity"/>
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.IncreaseTheQuotaActivity"/>
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.IncreaseQuotaInformationActivity"/>
        <activity android:name="com.shenjing.dengyuejinfu.ui.activity.CertificationFaceActivity"/>


        <!--高德定位-->
        <service android:name="com.amap.api.location.APSService"/>
        <meta-data android:name="com.amap.api.v2.apikey" android:value="09c807797c4641903147709374a132ce"/>
        <!--下载的广播-->
        <receiver android:name=".ui.broadcastReceiver.DownloadReceive">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <!--<action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />-->
            </intent-filter>
        </receiver>

        <!-- 腾讯QQ第三方认证页面 -->
<!--        <activity-->
<!--            android:name="com.tencent.tauth.AuthActivity"-->
<!--            android:launchMode="singleTask"-->
<!--            android:noHistory="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data android:scheme="tencentqq-app-id" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name="com.tencent.connect.common.AssistActivity"-->
<!--            android:configChanges="orientation|keyboardHidden"-->
<!--            android:screenOrientation="behind"-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />-->

        <!-- 微信分享 -->
     <!--   <activity
            android:name="com.leehor.simple.wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        &lt;!&ndash;微信支付&ndash;&gt;
        <activity android:name="com.leehor.simple.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="这里替换自己申请的scheme" />
            </intent-filter>
        </activity>-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.shenjing.dengyuejinfu.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>